<section class="flex flex-col">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
		<!-- <app-kpi-card
			label="Currency Exposure"
			[value]="summary()?.currencyImpact ?? 0 | currency: userCurrency()"
			subtext="Impact of FX variations"
		/>

		<app-kpi-card
			label="Savings Rate"
			[value]="summary()?.savingsRate + '%'"
			[variation]="2.5"
			subtext="VS last month"
		/> -->

		<!-- <app-kpi-card
			label="Total Liabilities"
			[value]="(15400 | currency: userCurrency()) ?? ''"
			[variation]="-1.2"
			subtext="Debt reduction"
		/>

		<app-kpi-card
			label="Net Cash Flow"
			[value]="(2450 | currency: userCurrency()) ?? ''"
			[variation]="5.8"
			subtext="Monthly surplus"
		/> -->
	</div>

	<div class="grid grid-cols-12 gap-4">
		<div class="col-span-12 lg:col-span-8 h-125">
			<app-networth-chart
				[data]="chartData()"
				[summary]="summary()"
				[currency]="userCurrency()"
			/>
		</div>

		<div class="col-span-12 lg:col-span-4 h-125">
			<app-top-assets
				[assets]="topAssets()"
				(viewMore)="navigateToAssets()"
			/>
		</div>

		<div class="col-span-12 lg:col-span-8 h-100">
			<app-asset-allocation-chart [summary]="summary()" />
		</div>

		<div class="col-span-12 lg:col-span-4 h-100">
			<app-target-widget
				[target]="targets().length ? targets()[0] : null"
				[currency]="userCurrency()"
				(updateTarget)="handleUpdateTarget()"
			/>
		</div>
	</div>
</section>
