<p-card class="rounded-xl p-2 h-full flex flex-col">
	<div class="flex flex-col md:flex-row justify-between items-start gap-3 mb-4">
		<div class="flex flex-col gap-2">
			<span class="font-bold text-secondary flex items-center gap-2">
				<i class="pi pi-money-bill font-bold"></i>
				Total Assets
			</span>
			<div class="flex items-center flex-wrap gap-3">
				<span class="text-2xl sm:text-3xl font-bold font-mono">
					{{ totalAmount() | currency: currency() }}
				</span>

				@if (
					hasEnoughDataToDisplayChart() && variation()?.percentage && !isSpecificYearSelected()
				) {
					<div
						class="flex items-center gap-2 px-2 py-1 rounded-full"
						[class]="
							variation()!.percentage > 0
								? 'text-green-500 bg-green-600/10'
								: 'text-red-500 bg-red-600/10'
						"
					>
						@if (percentageView()) {
							<span
								class="text-sm"
								[class]="variation()!.percentage > 0 ? 'text-green-500' : 'text-red-500'"
							>
								<i
									[class]="variation()!.percentage > 0 ? 'pi pi-arrow-up' : 'pi pi-arrow-down'"
									class="text-xs!"
								></i>
								{{ variation()!.percentage | number: "1.2-2" }}%
							</span>
						} @else {
							<span
								class="text-sm"
								[class]="variation()!.percentage > 0 ? 'text-green-500' : 'text-red-500'"
							>
								<i
									[class]="variation()!.percentage > 0 ? 'pi pi-arrow-up' : 'pi pi-arrow-down'"
									class="text-xs!"
								></i>
								{{ variation()!.absolute | currency: currency() }}
							</span>
						}

						<p-button
							size="small"
							[rounded]="true"
							[severity]="variation()!.percentage > 0 ? 'success' : 'danger'"
							[icon]="percentageView() ? 'pi pi-percentage text-xs!' : 'pi pi-money-bill text-xs!'"
							styleClass="p-1"
							(onClick)="percentageView.set(!percentageView())"
						/>
					</div>
				}
			</div>
		</div>

		<div class="flex flex-wrap items-center gap-2">
			@if (hasEnoughDataToDisplayChart()) {
				<div class="flex items-center gap-1">
					<p-datepicker
						[(ngModel)]="selectedDate"
						view="year"
						dateFormat="yy"
						[minDate]="minDate()"
						[maxDate]="maxDate()"
						[showIcon]="true"
						(onSelect)="onDateChange()"
						placeholder="Year"
						size="small"
					/>
					@if (isSpecificYearSelected()) {
						<p-button
							icon="pi pi-times"
							[rounded]="true"
							[text]="true"
							severity="secondary"
							size="small"
							(onClick)="selectedDate.set(null); onDateChange()"
						/>
					}
				</div>
			}

			@if (!isSpecificYearSelected() && hasEnoughDataToDisplayChart()) {
				<p-selectButton
					[options]="timePeriods()"
					[(ngModel)]="selectedPeriod"
					[allowEmpty]="false"
					optionLabel="label"
					optionValue="value"
					size="small"
				/>
			}
		</div>
	</div>

	<div class="grow min-h-0">
		@if (hasEnoughDataToDisplayChart()) {
			<p-chart
				type="bar"
				[data]="chartData()"
				[options]="chartOptions()"
				height="100%"
				width="100%"
			/>
		} @else {
			<div class="flex items-center justify-center h-full">
				<div class="flex flex-col items-center gap-4 text-stone-400">
					<i class="pi pi-chart-line text-4xl!"></i>
					Not enough data to display a chart.
				</div>
			</div>
		}
	</div>
</p-card>
