<p-drawer
	[header]="selectedAsset() ? 'Edit Asset' : 'Add Asset'"
	[(visible)]="isVisible"
	(onHide)="hideDrawer()"
	position="right"
>
	<ng-template #content>
		<form
			class="flex flex-col gap-5"
			[formGroup]="assetForm"
		>
			<div class="flex flex-col gap-2">
				<label for="name">Name *</label>
				<input
					id="name"
					pInputText
					formControlName="name"
					pSize="small"
				/>
				@if (assetForm.controls.name.invalid && assetForm.controls.name.touched) {
					<small class="text-red-500 text-xs">Name is required</small>
				}
			</div>
			<div class="flex flex-col gap-2">
				<label for="category">Category *</label>
				<p-select
					formControlName="category"
					[options]="categoriesOptions()"
					optionLabel="name"
					size="small"
				/>
				@if (assetForm.controls.category.invalid && assetForm.controls.category.touched) {
					<small class="text-red-500 text-xs">Category is required</small>
				}
			</div>
			<div class="flex flex-col gap-2">
				<label for="type">Type *</label>
				<p-select
					formControlName="type"
					[options]="typeOptions()"
					size="small"
				/>
				@if (assetForm.controls.type.invalid && assetForm.controls.type.touched) {
					<small class="text-red-500 text-xs">Type is required</small>
				}
			</div>

			@if (assetForm.controls.type.value === AssetType.LIABILITY) {
				<div class="flex flex-col gap-2">
					<label for="liabilityType">Liability Type *</label>
					<p-select
						id="liabilityType"
						formControlName="liabilityType"
						[options]="liabilityTypeOptions()"
						placeholder="Select type"
						size="small"
					/>
					@if (
						assetForm.controls.liabilityType.invalid && assetForm.controls.liabilityType.touched
					) {
						<small class="text-red-500 text-xs">Liability type is required</small>
					}
				</div>

				@if (assetForm.controls.liabilityType.value === LiabilityType.AUTOMATIC) {
					<div class="flex flex-col gap-2">
						<label for="paymentFrequency">Payment Frequency *</label>
						<p-select
							id="paymentFrequency"
							formControlName="paymentFrequency"
							[options]="paymentFrequencyOptions()"
							placeholder="Select frequency"
							size="small"
						/>
						@if (
							assetForm.controls.paymentFrequency.invalid &&
							assetForm.controls.paymentFrequency.touched
						) {
							<small class="text-red-500 text-xs">Payment frequency is required</small>
						}
					</div>
					<div class="flex flex-col gap-2">
						<label for="paymentAmount">Payment Amount *</label>
						<p-inputNumber
							id="paymentAmount"
							formControlName="paymentAmount"
							mode="currency"
							[currency]="assetForm.value.currency || 'EUR'"
							[locale]="locale()"
							[minFractionDigits]="2"
							[fluid]="true"
							size="small"
						/>
						@if (
							assetForm.controls.paymentAmount.invalid && assetForm.controls.paymentAmount.touched
						) {
							<small class="text-red-500 text-xs">A valid payment amount is required</small>
						}
					</div>
				}
			}

			<div class="flex flex-col gap-2">
				<label for="currency">Currency *</label>
				<p-select
					formControlName="currency"
					[options]="currencyOptions()"
					[filter]="true"
					filterBy="label"
					size="small"
				/>
				@if (assetForm.controls.currency.invalid && assetForm.controls.currency.touched) {
					<small class="text-red-500 text-xs">Currency is required</small>
				}
			</div>
			<div class="flex flex-col gap-2">
				<label for="status">Status</label>
				<p-toggle-button
					id="status"
					formControlName="isActive"
					onLabel="Active"
					onIcon="pi pi-check-circle"
					offLabel="Archived"
					size="small"
				/>
				@if (!assetForm.value.isActive) {
					<small class="text-stone-400 text-xs">
						Assets that are archived will not be shown in the dashboard charts.
					</small>
				}
			</div>
			@if (assetForm.controls.type.value !== AssetType.LIABILITY) {
				<div class="flex flex-col gap-2">
					<label for="favorite">Track in Dashboard</label>
					<p-toggle-button
						id="favorite"
						formControlName="isFavorite"
						onIcon="pi pi-bookmark-fill"
						[disabled]="!assetForm.value.isActive"
						size="small"
					/>
					@if (!assetForm.value.isActive) {
						<small class="text-stone-400 text-xs">
							Archived assets cannot be tracked in the dashboard.
						</small>
					}
				</div>
			}

			@if (!selectedAsset()) {
				<div class="flex flex-col gap-2">
					<label for="initialValue">Initial Value</label>
					<p-inputNumber
						id="initialValue"
						formControlName="initialValue"
						mode="currency"
						[currency]="assetForm.value.currency || 'EUR'"
						[locale]="locale()"
						[minFractionDigits]="2"
						[fluid]="true"
						size="small"
					/>
				</div>
				<div class="flex flex-col gap-2">
					<label for="referenceDate">Value Date</label>
					<p-datePicker
						id="referenceDate"
						formControlName="referenceDate"
						[showIcon]="true"
						dateFormat="dd/mm/yy"
						[fluid]="true"
						size="small"
					/>
				</div>
			}
		</form>
	</ng-template>

	<ng-template #footer>
		<p-button
			label="Save"
			[fluid]="true"
			[disabled]="assetForm.invalid"
			size="small"
			(onClick)="saveAssetFromForm()"
		/>
	</ng-template>
</p-drawer>
