<p-card class="rounded-xl p-6 h-full flex flex-col">
	<span class="text-xl font-bold mb-4">Asset Allocation</span>
	@if (assetAllocationChartData()) {
		<p-chart
			type="pie"
			[data]="assetAllocationChartData()"
			[options]="allocationOptions"
			height="100%"
			width="100%"
		/>
	} @else {
		<div class="flex items-center justify-center h-full">
			<div class="flex flex-col items-center gap-4 text-stone-400">
				<i class="pi pi-chart-pie text-4xl!"></i>
				Not enough data to display a chart.
			</div>
		</div>
	}
</p-card>
