@import "primeicons/primeicons.css";
@import "highlight.js/styles/atom-one-dark.css";

@font-face {
	font-family: "0xProto";
	src: url("https://cdn.jsdelivr.net/gh/0xType/0xProto@2.502/fonts/0xProto-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "0xProto";
	src: url("https://cdn.jsdelivr.net/gh/0xType/0xProto@2.502/fonts/0xProto-Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "0xProto";
	src: url("https://cdn.jsdelivr.net/gh/0xType/0xProto@2.502/fonts/0xProto-Italic.woff2")
		format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

html,
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
}

/* Remove default shadow from all p-card components and add subtle border */
.p-card {
	box-shadow: none !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: var(--p-content-border-color) !important;
}

/* Fix for PrimeNG p-card to support full height */
p-card.h-full,
.p-card.h-full {
	display: flex;
	flex-direction: column;

	.p-card-body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.p-card-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
}
