<!-- <section class="flex flex-col gap-5 max-w-4xl mx-auto">
	<div class="flex justify-end">
		<p-button
			label="Add Asset"
			icon="pi pi-plus"
		/>
	</div>

	<p-table
		[value]="assets()"
		sortMode="single"
		rowGroupMode="subheader"
		groupRowsBy="representative.name"
	>
		<ng-template #header>
			<tr>
				<th>Name</th>
				<th>Currency</th>
				<th>Status</th>
				<th>Creation Date</th>
			</tr>
		</ng-template>
		<ng-template
			#body
			let-asset
		>
			<tr>
				<td>{{ asset.name }}</td>
				<td>{{ asset.originalCurrency }}</td>
				<td>{{ asset.isActive }}</td>
				<td>{{ asset.createdAt }}</td>
			</tr>
		</ng-template>
	</p-table>
</section>
 -->
