<section class="flex flex-col gap-3 max-w-6xl mx-auto">
	<div class="flex flex-wrap items-center justify-between gap-3">
		<p-button
			[label]="'Back to ' + paths[previousRoute].label"
			[routerLink]="previousRoute"
			icon="pi pi-arrow-left"
			[text]="true"
			severity="secondary"
			size="small"
		/>

		<div class="flex gap-3">
			<p-button
				label="Edit Categories"
				icon="pi pi-pencil"
				severity="secondary"
				(onClick)="isCategoriesDialogVisible.set(true)"
			/>

			<p-button
				label="Add Asset"
				icon="pi pi-plus"
				(onClick)="isDrawerVisible.set(true)"
			/>
		</div>
	</div>

	<app-asset-table
		[assets]="assets()"
		[isLoading]="areAssetsLoading()"
		(viewHistory)="viewHistory($event)"
		(editAsset)="editAsset($event)"
		(toggleAssetStatus)="toggleAssetStatus($event)"
		(deleteAsset)="deleteAsset($event)"
	/>
</section>

<app-asset-form
	[(isVisible)]="isDrawerVisible"
	[(selectedAsset)]="selectedAsset"
	[categoriesOptions]="categoriesOptions()"
	(save)="saveAssetAndSnapshot($event)"
/>

<app-category-form
	[(isVisible)]="isCategoriesDialogVisible"
	[(isNewCategory)]="isNewCategory"
	[categoriesOptions]="categoriesOptions()"
	[isSaveLoading]="isCategorySaveLoading()"
	(save)="saveCategory($event)"
	[isDeleteLoading]="isCategoryDeleteLoading()"
	(delete)="deleteCategory($event)"
/>

<app-asset-history
	[(isVisible)]="isHistoryDialogVisible"
	[(selectedAsset)]="selectedAsset"
	(snapshotsChanged)="refreshAssets()"
/>
