<p-card class="rounded-xl h-full flex flex-col p-2 gap-3">
	<span class="text-secondary font-medium">{{ label() }}</span>
	<div class="flex items-center justify-between gap-2">
		<span class="text-2xl font-bold font-mono">{{ value() }}</span>
		@if (sparklineData() && sparklineData()!.length > 1) {
			<div class="w-20 h-9">
				<p-chart
					type="line"
					[data]="sparklineChartData()"
					[options]="sparklineOptions"
				/>
			</div>
		} @else if (variation() !== undefined) {
			<span
				[class]="isPositive() ? 'text-green-500' : 'text-red-500'"
				class="font-medium"
			>
				{{ variation()! > 0 ? "+" : "" }}{{ variation() }}%
			</span>
		}
	</div>
	@if (subtext()) {
		<span class="text-sm text-gray-500">{{ subtext() }}</span>
	}
</p-card>
