<div class="flex gap-3 h-full max-sm:flex-col">
	<p-listbox
		[options]="categoriesOptions()"
		optionLabel="name"
		[filter]="true"
		class="max-sm:w-full w-1/2"
		(onChange)="selectCategory($event)"
	/>

	<p-blockui
		[target]="categoryFormPanel"
		[blocked]="!isNewCategory() && !selectedCategory()"
	/>

	<div class="max-sm:w-full w-1/2">
		<div class="flex items-center gap-2 mb-3">
			<span>New Category</span>
			<p-toggle-switch
				[(ngModel)]="isNewCategory"
				(ngModelChange)="onNewCategoryToggleChange($event)"
				[ngModelOptions]="{ standalone: true }"
			/>
		</div>
		<p-panel #categoryFormPanel>
			<form
				[formGroup]="categoryForm"
				class="flex flex-col gap-5"
			>
				<div class="flex flex-col gap-2">
					<label for="category">Category *</label>
					<input
						id="category"
						pInputText
						formControlName="name"
					/>
					@if (categoryForm.controls.name.invalid && categoryForm.controls.name.touched) {
						<small class="text-red-500 text-xs">Category is required</small>
					}
				</div>
				<div class="flex flex-col gap-2">
					<label for="type">Type *</label>
					<p-select
						id="type"
						formControlName="type"
						[options]="typeOptions()"
					/>
					@if (categoryForm.controls.type.invalid && categoryForm.controls.type.touched) {
						<small class="text-red-500 text-xs">Type is required</small>
					}
				</div>
				<div class="flex gap-3">
					@if (!isNewCategory()) {
						<p-button
							label="Delete"
							severity="danger"
							icon="pi pi-trash"
							class="w-1/2"
							styleClass="w-full"
							[loading]="isDeleteLoading()"
							(onClick)="deleteCategory($event)"
						/>
					}
					<p-button
						[label]="isNewCategory() ? 'Add' : 'Update'"
						[disabled]="categoryForm.invalid"
						class="w-1/2"
						[class.w-full]="isNewCategory()"
						styleClass="w-full"
						[loading]="isSaveLoading()"
						(onClick)="saveCategory()"
					/>
				</div>
			</form>
		</p-panel>
	</div>
</div>
