<p-table
	[value]="assetsWithBalance()"
	sortMode="single"
	[stripedRows]="true"
	rowGroupMode="subheader"
	groupRowsBy="categoryName"
	[loading]="isLoading()"
>
	<ng-template #header>
		<tr>
			<th>Actions</th>
			<th>Name</th>
			<th>Current Value</th>
			<th>Trend</th>
			<th>Status</th>
		</tr>
	</ng-template>
	<ng-template
		#groupheader
		let-asset
	>
		<tr pRowGroupHeader>
			<td colspan="5">
				<span class="font-bold me-3">{{ asset.categoryName }}</span>
				<p-tag
					[value]="asset.type === AssetType.ASSET ? 'Asset' : 'Liability'"
					[severity]="asset.type === AssetType.ASSET ? 'info' : 'warn'"
					[icon]="asset.type === AssetType.ASSET ? 'pi pi-wallet' : 'pi pi-shield'"
					[rounded]="true"
				/>
			</td>
		</tr>
	</ng-template>
	<ng-template
		#body
		let-asset
	>
		<tr>
			<td>
				<p-button
					icon="pi pi-cog"
					[text]="true"
					(onClick)="showMenu($event, rowMenu, asset)"
				/>
			</td>
			<td>
				<div class="flex items-center gap-2">
					<p-tag
						[value]="asset.name"
						[icon]="asset.isFavorite ? 'pi pi-bookmark-fill' : ''"
					/>
				</div>
			</td>
			<td class="text-right font-mono">
				<span class="font-bold">
					{{ asset.currentValue | currency: asset.originalCurrency : "symbol" : "1.2-2" }}
				</span>
			</td>
			<td class="text-right font-mono">
				@if (asset.trend !== null) {
					<span [class]="asset.trend >= 0 ? 'text-green-500' : 'text-red-500'">
						<i
							[class]="asset.trend >= 0 ? 'pi pi-arrow-up' : 'pi pi-arrow-down'"
							class="text-sm"
						></i>
						{{ asset.trendPercentage | number: "1.2-2" }}%
					</span>
				} @else {
					<span class="text-stone-400 italic text-xs">No data</span>
				}
			</td>
			<td>
				<p-tag
					[value]="asset.isActive ? 'Active' : 'Archived'"
					[severity]="asset.isActive ? 'success' : 'danger'"
					[icon]="asset.isActive ? 'pi pi-check-circle' : 'pi pi-inbox'"
				/>
			</td>
		</tr>
	</ng-template>
	<ng-template #emptymessage>
		<tr>
			<td
				colspan="5"
				class="text-center py-12!"
			>
				<div class="flex flex-col items-center gap-4 text-stone-400">
					<i class="pi pi-inbox text-4xl!"></i>
					<p>No assets found.</p>
				</div>
			</td>
		</tr>
	</ng-template>
</p-table>

<p-menu
	#rowMenu
	[popup]="true"
	[model]="rowMenuItems()"
/>
