<p-button
	size="small"
	[fluid]="true"
	severity="secondary"
	[disabled]="category().isDefault"
	(onClick)="category().isDefault ? null : edit.emit(category())"
>
	<div class="flex items-center gap-3 w-full">
		<div
			class="flex items-center justify-center w-8 h-8 rounded-full shrink-0"
			[style.background-color]="categoryColors().bg"
		>
			<i
				[class]="'pi ' + (category().icon || 'pi-question')"
				[style.color]="categoryColors().text"
			></i>
		</div>
		<span class="font-medium truncate">{{ category().name }}</span>
	</div>
	<i
		[class]="
			'pi ' + (category().isDefault ? 'pi-lock' : 'pi-pencil') + ' shrink-0 text-surface-400'
		"
	></i>
</p-button>
